index: "campaigns_v1"
type: "campaign"
alias: "campaigns"
mapping:
  properties:
    name: type: "string", index: "not_analyzed"
    title: type: "string", index: "not_analyzed"
    description: type: "string", index: "not_analyzed"
    icon_url: type: "string", index: "not_analyzed"
    task_category_type: type: "string", index: "not_analyzed"
    level_id: type: "string", index: "not_analyzed"
    package_id: type: "string", index: "not_analyzed"
    task_category_data: type: "string", index: "not_analyzed"
    target: type: "double"
    current_reach: type: "double"
    campaign_budget: type: "double"
    campaign_priority: type: "integer"
    user_credits: type: "double"
    task_category_brand_uid: type: "string", index: "not_analyzed"
    expiry_date: type: "date"
    create_time: type: "date"
    update_time: type: "date"