index: "users_tasks_v1"
type: "task"
alias: "users_tasks"
mapping:
  properties:
    user_id: type: "string", index: "not_analyzed"
    account_id: type: "string", index: "not_analyzed"
    campaign_id: type: "string", index: "not_analyzed"  
    task_category_type: type: "string", index: "not_analyzed"
    level_id: type: "string", index: "not_analyzed"
    package_id: type: "string", index: "not_analyzed"
    task_category_brand_uid: type: "string", index: "not_analyzed"
    task_data: type : "string", index: "no"
    task_credits: type: "double"
    status: type: "string", index: "not_analyzed"
    create_time: type: "date"
    update_time: type: "date"
    completion_date: type: "date"
    validation_date: type: "date"