div(layout="column", layout-padding, ng-init="init()")
  form(name='campaignForm')
    div(layout="row", layout-align="space-around")
      div
        md-input-container
          label Name* 
          input(ng-model="camp.name", type="string",required="")
      div
        md-input-container
          label Budget*
          input(ng-model="camp.budget", type="number",required="")
    div(layout="row", layout-align="space-around")
      div
        md-input-container
          label Select Level
          md-select(ng-model="camp.level_id", ng-change="")
            md-option(ng-repeat="level in campLevels",  ng-value="level.id") {{level.name}}
      div
        md-input-container
          label Select Task Category
          md-select(ng-model="camp.taskCat")
            md-option(ng-repeat="task in taskCategories",  ng-value="task.id") {{task.name}}
      md-input-container
        label Target
        input(ng-model="tags", type="number")
    div(layout="row", layout-align="space-around")
      md-input-container
        label Current Reach
        input(ng-model="camp.reach", type="number")
      md-input-container
        label Priority
        input(ng-model="camp.priority", type="number")
      md-datepicker(ng-model='camp.expDate', md-placeholder='Enter Expire Date', md-open-on-focus='')
    div(layout="row")
      div(flex)
        textarea(layout-fill, placeholder="Description", ng-model="camp.description", style="height: 5rem")
    div(layout="row", layout-align="space-around")
      md-button.md-raised.md-primary(ng-disabled='campaignForm.$invalid', ng-click="saveCamp()") Save
      md-button.md-raised.md-warn(ng-disabled='!(campaignForm.$dirty)', ng-click="cancleCamp()") Cancle