admin:
  host: "0.0.0.0"
  port: 9909
web:
  host: "127.0.0.1"
  port: 9900
elasticsearch:
  host: "https://search-pas-es-xrfo2bgoceqbgwhrvxoift6u6u.ap-south-1.es.amazonaws.com"
  port: 443
redis:
  host: "127.0.0.1"
  port: 6379